body {
    color: white;
    background-color: #0f203b;
    font-family: Trebuchet MS;
    font-size: 100px;
    text-align: center;
    
 }
 a:link {
   color: #135cd1;
 }
 
 a:visited {
   color: #135cd1;
 }
 a:hover {
   color: LightBlue;
 }
