body {
    color: white;
    background-color: black;
    font-family: Trebuchet MS;
    font-size: 35px;
    text-align: center;
    scroll-behavior: smooth;
    height: 100%;
 }
 .glow {
    font-size: 150px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2550a1, 0 0 40px #2550a1, 0 0 50px #2550a1, 0 0 60px #2550a1, 0 0 70px #2550a1;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #2550a1, 0 0 40px #2550a1, 0 0 50px #2550a1, 0 0 60px #2550a1, 0 0 70px #ff4da6, 0 0 80px #2550a1;
    }
  }

 a:link {
   color: #135cd1;
 }
 
 a:visited {
   color: #135cd1;
 }
 a:hover {
   color: LightBlue;
 }
